@charset "UTF-8";
/* 全局配置 */
.container {
  width: 1200px;
}
body{
  position: relative;
}
/*头部区域*/
#topArea {
  height: 40px;
  line-height: 40px;
  width: 100%;
  background: #F2F3F3;
  color: #666666;
  border-top: #766F6D 1px solid;
  font-size: 12px;
}
#topArea a {
  color: #666666;
  font-size: 12px;
}
.top_left {
  float: left;
}
.top_left span a {
  color: #666666;
  font-size: 12px;
  background: url(https://static.gmzx.com/images/gmzx/index/xiantiao.jpg) right no-repeat;
  padding: 0 10px;
}

.top_right {
  float: right;
}
.top_right a {
  z-index: 1;
  float: left;
  display: inline;
  position: relative;
  width: 21px;
  height: 21px;
  margin: 10px 15px 0 0;
}
.top_right a i {
  transition: all 0.3s linear 0s;
  display: block;
  width: 100%;
  height: 100%;
}
.top_right a.weibo i {
  background-position: 0px 21px;
  background-image: url(https://static.gmzx.com/images/gmzx/index/sina.png);
}
.top_right a.weibo i:hover {
  background-position: 0px 0px;
}
.top_right a.weixin {
  width: 23px;
}
.top_right a.weixin i {
  background-position: 0px 21px;
  background-image: url(https://static.gmzx.com/images/gmzx/index/weixin.png);
}
.top_right a.weixin i:hover {
  background-position: 0 0;
}
.top_right a.weixin b {
  z-index: 3;
  background-image: url(https://static.gmzx.com/images/gmzx/index/ico.png);
  display: none;
  width: 162px;
  height: 171px;
  position: absolute;
  left: -135px;
  top: 19px;
  background-position: -1038px 0px;
}
.top_right a.qq {
  width: 18px;
}
.top_right a.qq i {
  background-position: 0px 21px;
  background-image: url(https://static.gmzx.com/images/gmzx/index/qq.png);
}
.top_right a.qq i:hover {
  background-position: 0px 0px;
}
.top_right a.gmphone {
  width: 19px;
}
.top_right a.gmphone i {
  background-position: 0px 21px;
  background-image: url(https://static.gmzx.com/images/gmzx/index/phone.png);
}
.top_right a.gmphone i:hover {
  background-position: 0px 0px;
}
.top_right a.gmphone b {
  z-index: 2;
  position: absolute;
  left: -65px;
  top: 25px;
  display: none;
  background: url(https://static.gmzx.com/images/gmzx/index/ewm_bg.png) top center no-repeat;
  padding: 12px 1px 1px;
  background-size: 100%;
}
.top_right a.gmmap {
  width: 26px;
}
.top_right a.gmmap i {
  background-position: 0px 21px;
  background-image: url(https://static.gmzx.com/images/gmzx/index/map.png);
}
.top_right a.gmmap i:hover {
  background-position: 0px 0px;
}


/* 头部logo区域 */
.logo{
  width: 1215px;
  height: 142px;
  margin: 0 auto;
}
.logo h1.thgmzx {
  width: 100%;
  height: 100%;
  background: url(https://wx-gmzx.oss-cn-shenzhen.aliyuncs.com/images/gmzx/new-home/top-logo.jpg) no-repeat;
}
.logo h1 a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  height: 100%;
  text-indent: -9999em;
}



/*导航区域*/
#mainNav {
  height: 45px;
  background: #d2235a;
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #A7A6AE;
}
#mainNav .container {
  z-index: 9;
}
/*全部项目*/
.mainNav {
  cursor: pointer;
  width: 200px;
  z-index: 2;
}
.mainNav .nav-top {
  padding-left: 25px;
  background: #b31e4d;
  color: #fff;
  font-size: 18px;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mainNav .nav-top em{
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url(https://wx-gmzx.oss-cn-shenzhen.aliyuncs.com/images/gmzx/new-home/menu-icon.png)no-repeat center;
  background-size: 100% 100%;
  margin-left: 18px;
}


/*下拉菜单*/
.mainNav .menu-list {
  height: 570px;
  display: none;
}
.mainNav .menu-list .menu-bg {
  width: 100%;
  height: 100%;
  background: #d2235a;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: -1;
}
.mainNav .menu-list .menu-main {
  padding-top: 13px;
}
.mainNav .menu-list .menu-main li {
  background: url(https://static.gmzx.com/images/gmzx/index/item_menu_left.png) 90% center no-repeat;
  height: 36px;
  line-height: 36px;
  padding-left: 30px;
}
.mainNav .menu-list .menu-main li.hover {
  background-color: #d2235a !important;
  color: #fff;
  background: url(https://static.gmzx.com/images/gmzx/index/item_menu_left_bj.png) 90% center no-repeat;
}
.mainNav .menu-list .menu-main li em {
  background: url(https://static.gmzx.com/images/gmzx/index/items_bg.png) no-repeat;
  width: 30px;
  height: 30px;
  float: left;
  margin: 3px 7px 0 0;
}
.mainNav .menu-list .menu-main li span {
  font-size: 16px;
  color: #fff;
}
.mainNav .menu-list .menu-main li.item-1 em {
  background-position: 0 4px;
}
.mainNav .menu-list .menu-main li.item-2 em {
  background-position: 0 -32px;
}
.mainNav .menu-list .menu-main li.item-3 em {
  background-position: 0 -68px;
}
.mainNav .menu-list .menu-main li.item-4 em {
  background-position: 0 -104px;
}
.mainNav .menu-list .menu-main li.item-5 em {
  background-position: 0 -136px;
}
.mainNav .menu-list .menu-main li.item-6 em {
  background-position: 0 -175px;
}
.mainNav .menu-list .menu-main li.item-7 em {
  background-position: 0 -212px;
}
.mainNav .menu-list .menu-main li.item-8 em {
  background-position: 0 -250px;
}
.mainNav .menu-list .menu-main li.item-9 em {
  background-position: 0 -284px;
}
.mainNav .menu-list .menu-main li.item-10 em {
  background-position: 0 -320px;
}
.mainNav .menu-list .menu-main li.item-11 em {
  background-position: 0 -358px;
}
.mainNav .menu-list .menu-main li.item-12 em {
  background-position: 0 -390px;
}
.mainNav .menu-list .menu-main li.item-13 em {
  background-position: 0 -425px;
}
.mainNav .menu-list .menu-main li.item-14 em {
  background-position: 0 -465px;
}
.mainNav .menu-list .menu-main li.item-15 em {
  background-position: 0 -500px;
}
.mainNav .menu-list .menu-sub {
  top: 0;
  right: 0;
}
.mainNav .menu-list .menu-sub .item_menu_con {
  box-sizing: content-box !important;
  background: rgba(255, 255, 255, 0.9) !important;
  *background: #fff;
  width: 390px;
  height: 508px;
  border: 1px solid #d2235a;
  position: absolute;
  padding: 30px;
  display: none;
}
.mainNav .menu-list .menu-sub .item_menu_con h2 {
  border-bottom: 1px solid #94909d;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.mainNav .menu-list .menu-sub .item_menu_con .index_xiangmu {
  margin-bottom: 30px;
}
.mainNav .menu-list .menu-sub .item_menu_con .index_xiangmu dl:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.mainNav .menu-list .menu-sub .item_menu_con .index_xiangmu dd {
  float: left;
  width: 32%;
  margin-left: 1%;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 32px;
  line-height: 32px;
}
.mainNav .menu-list .menu-sub .item_menu_con .index_xiangmu a {
  text-decoration: none;
  padding: 3px 4px;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mainNav .menu-list .menu-sub .item_menu_con .index_xiangmu a:hover {
  color: #fff;
  background: #d2235a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-animation: all 0.3s linear 0s;
  -webkit-animation: all 0.3s linear 0s;
  animation: all 0.3s linear 0s;
}
.mainNav .menu-list .menu-sub .item_menu_con .index_xiangmu a span {
  position: absolute;
  right: -6px;
  top: 2px;
  -moz-animation: gmmove 2s infinite linear;
  -webkit-animation: gmmove 2s infinite linear;
  animation: gmmove 2s infinite linear;
}

 /*广美首页导航*/
.nav_item {
  padding-left: 200px;
}
.nav_item ul {
  width: 100%;
  margin-left: 25px;
}
.nav_item ul li {
  width: 110px;
  float: left;
  height: 45px;
}
.nav_item ul li a {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 17px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
.nav_item ul li a span {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.nav_item ul li a span.over {
  background: #b31e4d;
  top: -45px;
}
.nav_item ul li a:hover {
  text-decoration: none;
}



/*banner背景轮播区域*/
#bannerArea {
  height: 570px;
  width: 100%;
  overflow: hidden;
}
#bannerArea .slideBox {
  height: 570px;
}
#bannerArea .slideBox .bd {
  height: 570px;
}
#bannerArea .slideBox .bd li .bdContent {
  width: 1920px;
  margin-left: -960px;
}
#bannerArea .slideBox .hd {
  height: 30px;
}
#bannerArea .slideBox .hd ul {
  height: 30px;
  line-height: 30px;
}
#bannerArea .slideBox .hd li {
  margin: 0 5px;
}


#bannerArea .slideBox .arrowBox {
  width: 100%;
}
#bannerArea .slideBox .iconfont {
  font-size: 56px;
  line-height: 56px;
}
#bannerArea .slideBox .next, #bannerArea .slideBox .prev {
  margin-top: -28px;
}
#bannerArea .slideBox .prev.text {
  top: 50%;
  height: auto;
}

#bannerArea .slideBox .next.text {
  top: 50%;
  height: auto;
}

#bannerArea .arrowBox {
  top:217.5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#bannerArea .arrowBox .arrow {
  width:68px;
  height: 68px;
  font-size: 42px;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5) none scroll 0 0 !important;
  filter: alpha(opacity=50);
  background: #000000;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
#bannerArea:hover .arrowBox {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/*#bannerArea .prev {*/
  /*background: url(https://static.gmzx.com/images/gmzx/article/art_ban_prev.png) no-repeat;*/
/*background-size: 100% 100%;*/
/*}*/
/*#bannerArea .next {*/
  /*background: url(https://static.gmzx.com/images/gmzx/article/art_ban_next.png) no-repeat;*/
  /*background-size: 100% 100%;*/
/*}*/











