/*carouselBanner */
 #carouselBanner{
	position: relative;
	height: 570px;
	//@include Slideshow(rectangle);
	@include slideBox();
} 

.autoSlide{
	@include slideBox(100%,663px,1200px,18px,0px,false);
	.slideBox{
		background: #1a0c34;
		.bd{			
			li{				
				.txt{
					width: 500px;
					position: absolute; z-index:2;
					left: 60px;
					top: 55px;
					h2{
						font-size: 50px;
						line-height: 60px;
						color: #df0c33;
					}
					.p1{
						font-size: 22px;
						line-height: 35px;
					}
					.p2{
						font-size: 30px;
						line-height: 28px;
						padding-bottom: 20px;
						padding-top: 10px;
						font-weight: bold;
					}
				}
			}
		}
		.hd{
			left: 0;bottom: 20px;
			li{
				background: #f00 !important;
			}			
		}	
		.prev .arrow{ right:10px; background:url(https://static.gmzx.com/images/sliderBox/arrow_left_1.png) 0 center no-repeat;   }
		.next .arrow{ left:10px; background:url(https://static.gmzx.com/images/sliderBox/arrow_right_1.png) 0 center no-repeat;  }
		.prev{ left:-50%; width:100%; margin-left:-600px;}	
		.next{ left:50%; width:100%;  margin-left:600px;}	
	}
	
}